@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  /* margin: 0px; */
  background: #F5F7F8;

  margin: 0px;
  /* display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-areas:
    'header header header header'
    'main main main main'
    'footer footer footer footer' */
}

h1,
h2,
h3,
h4 {
  font-family: 'Varela Round', sans-serif;
}

p,
a,
li,
div {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  text-decoration: none;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  background-color: #222831;

  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3;
  z-index: 1;
}

.logo>a {
  width: auto;
  height: 100%;
  color: #ffda47;
  font-size: 40px;
  font-weight: 900;
  margin-left: 70px;
  transition: all .1s linear;

}

.logo>a:hover {
  color: #F5F7F8;
}

.navbar {}

.navbar>ul {
  list-style: none;
  display: flex;
  margin-right: 40px;
}

.navbar>ul>li {
  padding: 0px 2px;
  margin: 20px;
}

.navbar>ul>li>a {
  color: #ffda47;
  font-weight: 900;
  transition: all .1s linear;
}

.content>a:hover {
  color: #F5F7F8;
}

/* Main */

main {
  grid-area: main;
}

.masthead {
  display: grid;
  /* grid-template-columns: 100%;
  grid-template-rows: 100%; */
  /* height: 100%; */
  height: 100vh;
  /* width: 100vw; */
  background-image: url(./img/backgroundImg.png);
  background-size: cover;
}

.masterhead-1 {
  display: grid;
  align-items: center;
  margin: 50px;
}

.masthead>div>p {
  width: 100%;
  color: #ffffff;
  font-size: 42px;
  /* background-color: #888888; */
  text-shadow: 1px 1px 2px #222831;
}

.name {
  font-size: 100px;
  color: #ffda47;
}

/* row */
/*--------------------- aboutb me page----------------- */

.aboutMePage {
  padding: 70px;
  /* height: 600px; */
}

.titleHeading-1>h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
  color: #CEDEF8;
}

.titleHeading-2>h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
  color: #000000;
}

.about-content {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.about-content>div>img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  border-radius: 6%;
}

.intro {
  font-size: 20px;
  padding: 20px;
  padding-top: 10%;
  padding-left: 0;
  float: left;
}

.intro>h2 {
  font-size: 40px;
  margin-bottom: 10px;
  color: #ffda47;
  text-decoration: 12px solid #000000;
  /* text-shadow: 1px 1px 2px #000000; */
}

.intro>p {
  word-spacing: 6px;
  line-height: 1.4;
}

/* ------------------------projectPage -------------------*/

.projectPage {
  background-color: #222831;
  display: block;
  padding: 70px;
  /* height: 100vh; */
}

.workList-1,
.workList-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  margin: 10px;
  height: 180px;
  width: 380px;
  object-fit: contain;
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.container>img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.PROcontent {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffd83d;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .2s ease;
  justify-content: center;
  text-align: center;
  /* opacity: 0.5; */
}


.text {

  color: white;
  font-size: 20px;
  position: absolute;

  top: 50%;
  left: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);


  height: 100%;
  width: 100%;
}

.PROtitle {
  font-weight: bold;
  color: #222831;
}

.container:hover .PROcontent {
  height: 100%;
}

/*--------------- Project in Details ------------------ */

.projectType01 {
  display: block;
  padding: 70px;
}

.pro-1-heading {
  color: #000000;
}

.columns {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.columnleft-1 {
  /* color: #CEDEF8; */
  margin: 0px 40px;
}

.columnleft-2 {
  color: #CEDEF8;
  margin: 0px 40px;
}

.columnleft-1>.title-text {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.columnleft-2>.title-text {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.points {
  padding-bottom: 5%;
}

.points>li {
  padding: 0.5%;
}

.btn1 {
  background-color: #ffda47;
  color: #222831;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 15px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
  transition-duration: 0.3s;
}

.btn1:hover {
  background-color: white;
  color: #ffda47;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .6) inset;
}

/* -------------------- Skill-Bar ----------------------- */

.columnRight-1 {
  display: grid;
  grid-row-gap: 15px;
}

.columnRight-2 {
  display: grid;
  grid-row-gap: 15px;
  color: #CEDEF8;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 8px 5px;
}

.bar {
  width: 100%;
  height: 10px;
  position: relative;
  background-color: #CEDEF8;
  border-radius: 25px;

  box-shadow: 0 2px 3px rgba(0, 0, 0, .4) inset;
}

.progress {
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #ffda47;
  border-radius: 25px;
  animation: animate 1.5s linear forwards;
}

@keyframes animate {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }

}

.projectType02 {
  display: block;
  padding: 70px;
  background-color: #222831;
}

/*---------------------------- social-media----------------------------- */

.socialMedia {
  display: block;
  padding: 40px;
  background-color: #222831;
  /* height: 100vh; */
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.element {
  margin: 5%;
  background-color: #CEDEF8;
  border-radius: 20px;

  opacity: 1;
  transition: 0.2s;
}

.insta {
  background: #222831;
}

.element:hover {
  opacity: 0.5
}

.element>img {
  height: 90px;
  padding: 8px;
  padding-bottom: 3px;
}

/*_______________________________Contact_______________________________ */

.contact {
  padding: 70px;
  /* height: 100vh; */
}

.contact-container {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #222831;
  color: #CEDEF8;

  padding: 40px;

  margin-left: auto;
  margin-right: auto;
  height: 500px;
  max-width: 1000px;
  /* width: 1400px; */

  border-radius: 30px;
  box-shadow: 15px 15px 10px #888888;

}

/*---------------- Details ----------------*/


.myDetails {
  display: grid;
  justify-content: center;
  align-items: center;
}

.cnt {
  margin-bottom: 30px;
}

.myDetails>h1 {
  font-weight: bold;
  margin-top: 40px;
}

.details>p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.details {
  margin-bottom: 30px;
  display: flex;

}

.details>img {
  height: 30px;
  margin-right: 20px;
  padding: 2px;
  border-radius: 10px;
  background-color: #CEDEF8;
}

/*---------------- Message Me ----------------*/

.messageMe {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-left: 0px;

}

.messageMe>h1 {
  margin-top: 40px;
}

input {
  gap: 30px;
}

#nameInput {
  padding: 10px;
  padding-left: 15px;
  font-size: 20px;
  width: 70%;
  border-radius: 10px;
  border-style: none;
  outline: none;
  margin-bottom: 20px;

}

#emailInput {
  padding: 10px;
  font-size: 20px;
  padding-left: 15px;
  width: 70%;
  border-radius: 10px;
  border-style: none;
  outline: none;
  margin-bottom: 20px;

}

textarea {
  width: 100%;
  height: auto;
  padding: 10px;
  padding-left: 15px;
  font-size: 20px;
  border-radius: 10px;
  border-style: none;
  resize: none;
  outline: none;
  margin-bottom: 10px;

  scroll-behavior: auto
}

.btn2 {
  background-color: #ffda47;
  color: #222831;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  text-align: center;
  transition-duration: 0.3s;

}

.btn2:hover {
  background-color: #F5F7F8;
  color: #ffda47;
  /* border-style: solid; */
  box-shadow: 0 2px 3px rgba(0, 0, 0, .6) inset;
}