/*--------------------- aboutb me page----------------- */

.aboutMePage {
    padding: 70px;
    /* height: 600px; */
}

.titleHeading-1>h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
    color: #CEDEF8;
}

.titleHeading-2>h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
    color: #000000;
}

.about-content {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.about-content>div>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.intro {
    font-size: 20px;
    padding: 20px;
    padding-top: 10%;
    padding-left: 0;
    float: left;
}

.intro>h2 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #ffda47;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.intro>p {
    word-spacing: 6px;
    line-height: 1.4;
}








@media screen and (min-width: 250px) and (max-width: 600px) {
    .aboutMePage {
        padding: 25px 15px;
    }

    .intro {
        padding: 0px;
        margin: 0px;
    }

    .aboutPicture {
        margin: 15px;
    }

    .about-content>div>img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        border-radius: 6%;
    }

    .intro {
        padding: 15px;
    }

    .intro>p {
        word-spacing: 5px;
        line-height: 1.4;
    }

    .about-content {
        display: block;
        overflow: hidden;
    }

}