/*_______________________________Contact_______________________________ */

.contact {
    padding: 70px;
    /* height: 100vh; */
}

.contact-container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #17181b;
    color: #CEDEF8;

    padding: 40px;

    margin-left: auto;
    margin-right: auto;
    height: 420px;
    width: 900px;
    max-width: 1000px;
    /* width: 1400px; */

    border-radius: 30px;
    box-shadow: 15px 15px 10px #888888;

}

/*---------------- Details ----------------*/


.myDetails {
    display: grid;
    justify-content: center;
    align-items: center;
}

.cnt {
    margin-bottom: 30px;
}

.myDetails>h1 {
    font-weight: bold;
    margin-top: 40px;
}

.details>p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.details {
    margin-bottom: 30px;
    display: flex;

}

.details>img {
    height: 30px;
    margin-right: 20px;
    padding: 2px;
    border-radius: 10px;
    background-color: #CEDEF8;
}

/*---------------- Message Me ----------------*/

.messageMe {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-left: 0px;

}

.messageMe>h1 {
    margin-top: 40px;
}

input {
    gap: 30px;
}

#nameInput {
    padding: 10px;
    padding-left: 15px;
    font-size: 20px;
    width: 70%;
    border-radius: 10px;
    border-style: none;
    outline: none;
    margin-bottom: 20px;

}

#emailInput {
    padding: 10px;
    font-size: 20px;
    padding-left: 15px;
    width: 70%;
    border-radius: 10px;
    border-style: none;
    outline: none;
    margin-bottom: 20px;

}

textarea {
    width: 100%;
    height: auto;
    padding: 10px;
    padding-left: 15px;
    font-size: 20px;
    border-radius: 10px;
    border-style: none;
    resize: none;
    outline: none;
    margin-bottom: 10px;
    scroll-behavior: auto;
    overflow: auto;
}

.btn2 {
    background-color: #ffda47;
    color: #17181b;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    text-align: center;
    transition-duration: 0.3s;

}

.btn2:hover {
    background-color: #F5F7F8;
    color: #ffda47;
    /* border-style: solid; */
    box-shadow: 0 2px 3px rgba(0, 0, 0, .6) inset;
}