/* Header */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* .sidebar {
  display: none;
} */

nav {
  background-color: #17181b;
  box-shadow: 3px 3px 5px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3;
  z-index: 1;
  /* height: 60px; */
}


nav a {
  /* height: 100%; */
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #ffdc52;
  /* padding: 10px; */

}

nav a:hover {
  color: #ffffff;
  /* background-color: #121212; */
}

.fullbar>ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fullbar>li {
  padding: 20px;
}

nav li:first-child {
  margin-right: auto;
}

.logo a {
  font-size: 35px;
  font-weight: 600;
  color: #ffdc52;
  padding: 10px 30px;
}

.navLinks {
  display: flex;
}

.navLinks a {
  padding: 20px 30px;
}

.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: width 0.4s ease;
  z-index: 2;
  background-color: #17181b;
  display: none;
}

.toggleBtn:hover {}

.closeBtn {
  width: 80px;
  height: 10%;
}

.sidebar button {
  background-color: #17181b;
}

.sidebar a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  /* background-color: #ffdc52; */
}

.sidebar a:hover {
  background-color: #252628;
}

.sidebar {
  /* display: none; */
}

@media screen and (max-width: 800px) {
  .hideSidebar {
    display: none;
  }
}

/* @media screen and (min-width: 800px) {
  .sidebar {
    display: none;
  }
} */