/* Main */

main {
    grid-area: main;
}

.masthead {
    height: 700px;
    background-image: url(../img/backgroundImg.png);
    background-size: cover;
    padding: 50px;

    display: grid;

}

.letters {
    margin: auto;
    margin-left: 80px;
}

.letters>p {
    margin-bottom: 30px;
}

.hello {
    color: #ffdb4c;
    font-size: 5em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}

.im {
    color: #ffffff;
    font-size: 5em;
    font-weight: 700;
}

.im>span {
    color: #ffdb4c;
}

.professional {
    color: #222831;
    background-color: #ffffff;
    width: fit-content;
    padding: 8px 18px;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.resume {
    background-color: #0f1012;
    padding: 15px 30px;
    border-radius: 5px;
    color: #ffdb4c;
    border: 1px solid #ffdb4c;
}

.resume:hover {
    background-color: #ffdb4c;
    color: #0f1012;
    transition-duration: 0.3s;
}







@media screen and (min-width: 250px) and (max-width: 600px) {

    .masthead {
        background-color: #17181b;
        background-image: none;
    }

    header {
        display: block;
        height: auto;
        padding: 10px;
        background-color: #0f1012;
    }

    .logo>a {
        /* margin-bottom: 15px; */
        display: flex;
        margin: 0px;
        color: white;
        font-size: 20px;

        justify-content: center;
        align-items: center;
    }

    .navbar>ul {
        display: flex;
        margin: 0px;
        justify-content: center;
        align-items: center;
    }

    .navbar>ul>li {
        padding: 3px 6px;
        margin: 3px;
    }

    .navbar>ul>li>a {
        font-size: 15px;
    }

    /*---------- Masthead- Responsive------------ */
    .masthead {
        height: 100vh;
        padding: 20px;
    }

    .letters {
        height: 40%;
        width: auto;
        margin-left: 10%;
        /* padding: 40px; */
        /* margin: auto; */
    }

    .letters>p {
        margin-bottom: 30px;
    }


    .hello {
        color: #ffdb4c;
        font-size: 3em;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
    }

    .im {
        color: white;
        font-size: 2.5em;
        font-weight: 700;
    }

    .professional {
        color: #222831;
        background-color: none;
        width: 250px;
        padding: 10px 12px;
        letter-spacing: 1px;
        word-spacing: 5px;
        font-size: 2px;

        display: none;
    }

    .resume {
        font-size: 1em;
        background-color: #0f1012;
        padding: 5px 15px;
        border-radius: 40px;
        color: #ffdb4c;
        border: 1px solid #ffdb4c;
    }

    .resume:hover {
        background-color: #ffdb4c;
        color: #0f1012;
        transition-duration: 0.3s;
    }
}