/*---------------------------- social-media----------------------------- */

.socialMedia {
    display: block;
    padding: 70px;
    background-color: #17181b;
    /* height: 100vh; */
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.element {
    margin: 5%;
}

.element>i {
    font-size: 60px;
    color: #ffd83d;
}

.element:hover i {
    color: #ffffff;
    transition-duration: 0.1s;
}





@media screen and (min-width: 250px) and (max-width: 600px) {

    .socialMedia {
        padding: 10px;
    }

    .social-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .element {
        margin: 5%;
        background-color: #17181b;
    }

    .element>i {
        font-size: 30px;
        color: #ffd83d;
        background-color: none;
    }

    .element:hover i {
        color: #ffffff;
        transition-duration: 0.1s;
    }
}