/*---------------------------- social-media----------------------------- */

.socialMedia {
    display: block;
    padding: 40px;
    background-color: #17181b;
    /* height: 100vh; */
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.element {
    margin: 5%;
    background-color: #CEDEF8;
    border-radius: 20px;

    opacity: 1;
    transition: 0.2s;
}

.insta {
    background: #17181b;
}

.element:hover {
    opacity: 0.5
}

.element>img {
    height: 90px;
    padding: 8px;
    padding-bottom: 3px;
}





@media screen and (min-width: 250px) and (max-width: 600px) {

    .socialMedia {
        padding: 10px;
    }

    .social-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .element {
        margin: 5%;
        background-color: #CEDEF8;
        border-radius: 10px;

        opacity: 1;
        transition: 0.2s;
    }

    .element:hover {
        opacity: 0.5
    }

    .element>img {
        height: 40px;
        padding: 5px;
        padding-bottom: 0px;
    }
}